@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success3</title>
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Login Successfull.................</h2>
    </hgroup>

    <div class="row">
        <div class="col-md-4">
            <h2>Add Donar</h2>
            <p>
                Add Donar by adding all the Detals...
            </p>
            <p><a class="btn btn-primary" href="http://localhost:65115/BloodBank/AddDonars">Add Donar &raquo;</a></p>
        </div>

    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Delete Donar</h2>
            <p>
                Delete Donar by Giving DonarID...
            </p>
            <p><a class="btn btn-primary" href="http://localhost:65115/Delete/Delete_Donar">Delete &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Update Donar Details</h2>
                <p>
                    Update Donar by Selectiong perticular Donar ID...
                </p>
                <p><a class="btn btn-primary" href="http://localhost:65115/UpdateDonar/Update">Update &raquo;</a></p>
        </div>
         
            <div class="col-md-4">
                <h2>View donars details.. </h2>>
                <p>
                    View available blood in our Bank and search required bood by Blood group..
                </p>
                <p><a class="btn btn-primary" href="http://localhost:65115/Search/Search">View and search &raquo;</a></p>
            </div>
</body>
</html>

