@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updated..........</title>
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Donar Updated Successfully.................</h2>
    </hgroup>
</body>
</html>

