<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error2</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Sorry We are unavailble with this BloodGroup....</h2>
     
    </hgroup>
</body>
</html>