@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Email:</strong>   <a href="ankita.Kondagoli@ltts.com">ankita.Kondagoli@ltts.com</a><br />
    <strong>Email:</strong> <a href="aditi.iyer@ltts.com">aditi.iyer@ltts.com</a>
</address>