@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BLOOD BANK</h1>
    <p class="lead">Donate Blood And Save Life.....</p>
    
    <p><a href="http://localhost:65115/user/users" class="btn btn-danger btn-lg">Search Blood &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            Admin can regiter details of donars to donate Blood....
        </p>
        <p><a class="btn btn-default" href="http://localhost:65115/AdminLogin/AdminLogin">Login &raquo;</a></p>
    </div>
    
</div>